<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>商品入荷</title>
</head>
<body>

    <!-- ナビゲーションバーここから -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/top">TOP</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">新商品登録</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ナビゲーションバーここまで -->

    <div class="container">
 
        <!-- 商品入荷Cardここから -->
        <div class="card card-primary mb-3">
            <div class="card-header">
                <h5 class="card-title">商品入荷</h5>
            </div>
            <div class="card-body">
                <!-- <div th:object="${stock}"> -->
                <form th:method="post" th:action="@{/stock/arrive/submit}" th:object="${stockArriveForm}">
                    <input type="hidden" th:field="*{itemId}"/>
                    <input type="hidden" th:field="*{shopId}"/>
                    <input type="hidden" th:field="*{shopName}"/>
                    <div class="form-group row">
                        <label class="col-md-4">店舗名</label>
                        <div class="col-md-8" th:text="*{shopName}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">商品名</label>
                        <div class="col-md-8" th:text="*{bookName}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">税抜き価格</label>
                        <div class="col-md-8" th:text="${#numbers.formatDecimal(stockArriveForm.price, 0, 'COMMA', 0, 'POINT')}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">税込み価格</label>
                        <div class="col-md-8" th:text="${#numbers.formatDecimal(stockArriveForm.taxPrice, 0, 'COMMA', 0, 'POINT')}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">現在の在庫数</label>
                        <div class="col-md-8" th:text="*{currentAmount}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">入荷数</label>
                        <input class="col-md-8 form-control" type="text" th:field="*{inputAmount}"/>
                        <div class="col-md-4"></div>
                        <div class="text-danger col-md-8" th:if="${#fields.hasErrors('inputAmount')}" th:errors="*{inputAmount}"></div>
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="登録" class="btn btn-primary"></input>
                    </div>
                </form>
                <!-- </div> -->
            </div><!-- /card-body -->
        </div><!-- /card -->
        <!-- 商品入荷Cardここまで -->

    </div><!-- /container -->

    <script src="/js/jquery-3.5.1.slim.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>