<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>商品詳細</title>
</head>
<body>

    <!-- ナビゲーションバーここから -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/top">TOP</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">新商品登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">新店舗登録</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ナビゲーションバーここまで -->

    <div class="container">

        <!-- 商品詳細Cardここから -->
        <div class="card card-primary mb-3">
            <div class="card-header">
                <h5 class="card-title">商品詳細</h5>
            </div>
            <div class="card-body">
                <div th:object="${item}">
                    <div class="form-group row">
                        <label class="col-md-2">商品名</label>
                        <div class="col-md-10" th:text="*{name}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label">価格</label>
                        <div class="col-md-10 form-control-static" th:text="*{price}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label">著者名</label>
                        <div class="col-md-10 form-control-static" th:text="*{author}"></div>
                    </div>
                </div>
            </div><!-- /card-body -->
        </div><!-- /card -->
        <!-- 商品詳細Cardここまで -->

        <!-- 在庫Cardここから -->
        <div class="card card-primary mb-3">
            <div class="card-header">
                <h5 class="card-title">在庫</h5>
            </div>
            <div class="card-body" th:if="!${stocks.size()}">
                <p>在庫がありません。</p>
            </div>
            <div class="card-body" th:if="${stocks.size()}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50%">店舗名</th>
                            <th style="width: 10%">在庫数</th>
                            <th style="width: 40%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="stock:${stocks}" th:object="${stock}">
                            <td th:text="*{shopName}"></td>
                            <td th:text="*{amount}"></td>
                            <td>
                                <a type="button" class="btn btn-primary"
                                    th:href="@{/stock/arrive/{itemId}/{shopId}(itemId=*{itemId}, shopId=*{shopId})}">入荷</a>
                                <a type="button" class="btn btn-primary" >販売</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /card-body -->
        </div><!-- /card -->
        <!-- 在庫Cardここまで -->

    </div><!-- /container -->

    <script src="/js/jquery-3.5.1.slim.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>